<template>
  <v-container>
    <v-row justify="center" align="center">
      <v-col col="12">
        <v-data-table
          :headers="headers"
          :items="workdays"
          sort-by="id"
          sort-desc
          :loading="workdays.length === 0"
          :loading-text="$t('loading.data')"
          class="elevation-1"
        >
          <template v-slot:top>
            <v-toolbar flat color="white">
              <v-toolbar-title>{{ $t('workday.overview') }}</v-toolbar-title>
              <v-divider class="mx-4" inset vertical />
              <div class="flex-grow-1" />
              <v-dialog
                v-model="dialog"
                fullscreen
                hide-overlay
                transition="dialog-bottom-transition"
              >
                <template v-slot:activator="{ on }">
                  <v-btn
                    color="primary"
                    class="mb-2"
                    style="margin:5px"
                    v-on="on"
                  >
                    {{ $t('workday.create') }}
                  </v-btn>
                </template>
                <v-card>
                  <v-toolbar dark color="primary">
                    <v-btn icon dark @click="dialog = false">
                      <v-icon>close</v-icon>
                    </v-btn>
                    <v-toolbar-title>{{ formTitle }}</v-toolbar-title>
                    <div class="flex-grow-1" />
                    <v-toolbar-items>
                      <v-btn dark text @click="save">
                        {{ $t('save') }}
                      </v-btn>
                    </v-toolbar-items>
                  </v-toolbar>
                  <v-container>
                    <v-row justify="center" align="center">
                      <v-col cols="12">
                        <v-row justify="center" align="center">
                          <v-col cols="12">
                            <h1>{{ $t('workday.work_start') }}</h1>
                          </v-col>
                          <v-col cols="12" md="6">
                            <v-dialog
                              ref="setDateStartDialog"
                              v-model="dateStartDialog"
                              :return-value.sync="editedItem.dateStart"
                              persistent
                              full-width
                              width="290px"
                            >
                              <template v-slot:activator="{ on }">
                                <v-text-field
                                  v-model="editedItem.dateStart"
                                  :label="$t('workday.date_start')"
                                  prepend-icon="access_time"
                                  readonly
                                  v-on="on"
                                />
                              </template>
                              <v-date-picker
                                v-model="editedItem.dateStart"
                                full-width
                                header-color="primary"
                                color="primary darken-2"
                              >
                                <div class="flex-grow-1" />
                                <v-btn
                                  text
                                  color="primary"
                                  @click="dateStartDialog = false"
                                >
                                  {{ $t('cancle') }}
                                </v-btn>
                                <v-btn
                                  text
                                  color="primary"
                                  @click="
                                    $refs.setDateStartDialog.save(
                                      editedItem.dateStart
                                    )
                                  "
                                >
                                  {{ $t('submit') }}
                                </v-btn>
                              </v-date-picker>
                            </v-dialog>
                          </v-col>

                          <v-col cols="12" md="6">
                            <v-dialog
                              ref="setTimeStartDialog"
                              v-model="timeStartDialog"
                              :return-value.sync="editedItem.timeStart"
                              persistent
                              full-width
                              width="290px"
                            >
                              <template v-slot:activator="{ on }">
                                <v-text-field
                                  v-model="editedItem.timeStart"
                                  :label="$t('workday.time_start')"
                                  prepend-icon="access_time"
                                  readonly
                                  v-on="on"
                                />
                              </template>
                              <v-time-picker
                                v-if="timeStartDialog"
                                v-model="editedItem.timeStart"
                                format="24hr"
                                full-width
                                header-color="primary"
                                color="primary darken-2"
                              >
                                <div class="flex-grow-1" />
                                <v-btn
                                  text
                                  color="primary"
                                  @click="timeStartDialog = false"
                                >
                                  {{ $t('cancle') }}
                                </v-btn>
                                <v-btn
                                  text
                                  color="primary"
                                  @click="
                                    $refs.setTimeStartDialog.save(
                                      editedItem.timeStart
                                    )
                                  "
                                >
                                  {{ $t('submit') }}
                                </v-btn>
                              </v-time-picker>
                            </v-dialog>
                          </v-col>
                        </v-row>
                      </v-col>
                      <v-col cols="12">
                        <v-row justify-center row wrap>
                          <v-col cols="12">
                            <h1>{{ $t('workday.work_end') }}</h1>
                          </v-col>
                          <v-col cols="12" md="6">
                            <v-dialog
                              ref="setDateEndDialog"
                              v-model="dateEndDialog"
                              :return-value.sync="editedItem.dateEnd"
                              persistent
                              full-width
                              width="290px"
                            >
                              <template v-slot:activator="{ on }">
                                <v-text-field
                                  v-model="editedItem.dateEnd"
                                  :label="$t('workday.date_end')"
                                  prepend-icon="access_time"
                                  readonly
                                  v-on="on"
                                />
                              </template>
                              <v-date-picker
                                v-model="editedItem.dateEnd"
                                full-width
                                header-color="primary"
                                color="primary darken-2"
                                :min="editedItem.dateStart"
                              >
                                <div class="flex-grow-1" />
                                <v-btn
                                  text
                                  color="primary"
                                  @click="dateEndDialog = false"
                                >
                                  {{ $t('cancle') }}
                                </v-btn>
                                <v-btn
                                  text
                                  color="primary"
                                  @click="
                                    $refs.setDateEndDialog.save(
                                      editedItem.dateEnd
                                    )
                                  "
                                >
                                  {{ $t('submit') }}
                                </v-btn>
                              </v-date-picker>
                            </v-dialog>
                          </v-col>

                          <v-col cols="12" md="6">
                            <v-dialog
                              ref="setTimeEndDialog"
                              v-model="timeEndDialog"
                              :return-value.sync="editedItem.timeEnd"
                              persistent
                              full-width
                              width="290px"
                            >
                              <template v-slot:activator="{ on }">
                                <v-text-field
                                  v-model="editedItem.timeEnd"
                                  :label="$t('workday.time_end')"
                                  prepend-icon="access_time"
                                  readonly
                                  v-on="on"
                                />
                              </template>
                              <v-time-picker
                                v-if="timeEndDialog"
                                v-model="editedItem.timeEnd"
                                format="24hr"
                                full-width
                                header-color="primary"
                                color="primary darken-2"
                                :min="editedItem.timeStart"
                              >
                                <div class="flex-grow-1" />
                                <v-btn
                                  text
                                  color="primary"
                                  @click="timeEndDialog = false"
                                >
                                  {{ $t('cancle') }}
                                </v-btn>
                                <v-btn
                                  text
                                  color="primary"
                                  @click="
                                    $refs.setTimeEndDialog.save(
                                      editedItem.timeEnd
                                    )
                                  "
                                >
                                  {{ $t('submit') }}
                                </v-btn>
                              </v-time-picker>
                            </v-dialog>
                          </v-col>
                        </v-row>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>
          <template v-slot:item.action="{ item }">
            <v-icon small class="mr-2" @click="editItem(item)">
              edit
            </v-icon>
            <v-icon small @click="deleteItem(item)">
              delete
            </v-icon>
          </template>
          <template v-slot:no-data>
            <h1 class="display-2">
              {{ $t('workday.no_data') }}
            </h1>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  middleware: 'auth',
  data() {
    return {
      dialog: false,
      dateStartDialog: false,
      timeStartDialog: false,
      dateEndDialog: false,
      timeEndDialog: false,
      dateStart: null,
      timeStart: null,
      dateEnd: null,
      timeEnd: '',
      headers: [
        {
          text: this.$t('workday.id'),
          align: 'left',
          value: 'id'
        },
        {
          text: this.$t('workday.work_start_date'),
          align: 'center',
          value: 'dateStart'
        },
        {
          text: this.$t('workday.work_start_time'),
          align: 'center',
          value: 'timeStart'
        },
        {
          text: this.$t('workday.work_end_date'),
          align: 'center',
          value: 'dateEnd'
        },
        {
          text: this.$t('workday.work_end_time'),
          align: 'center',
          value: 'timeEnd'
        },
        { text: this.$t('workday.work_summary'), value: 'work_summary' },
        { text: this.$t('actions'), value: 'action', sortable: false }
      ],
      editedIndex: -1,
      editedItem: {
        dateStart: '',
        timeStart: '',
        dateEnd: '',
        timeEnd: '',
        workSummary: null
      },
      defaultItem: {
        dateStart: '',
        timeStart: '',
        dateEnd: '',
        timeEnd: '',
        workSummary: null
      }
    }
  },

  computed: {
    workdays() {
      return this.$store.state.workdays
    },
    formTitle() {
      return this.editedIndex === -1
        ? this.$t('workday.create')
        : this.$t('workday.edit')
    }
  },

  watch: {
    dialog(val) {
      val || this.close()
    }
  },

  beforeCreate() {
    this.$store.dispatch('getWorkdays', this.$store.state.currentUser.id)
  },
  created() {
    this.initialize()
  },
  methods: {
    initialize() {
      const startDate = new Date()
      startDate.setHours(8)
      startDate.setMinutes(0)
      const startTime = new Date(
        startDate.getTime() - startDate.getTimezoneOffset() * 60000
      )
        .toISOString()
        .substr(11, 5)
      this.dateStart = new Date().toISOString().substr(0, 10)
      this.timeStart = startTime
      this.dateEnd = new Date().toISOString().substr(0, 10)
      this.timeEnd = ''
      this.editedItem = {
        dateStart: this.dateStart,
        timeStart: this.timeStart,
        dateEnd: this.dateEnd,
        timeEnd: this.timeEnd
      }
      this.defaultItem = {
        dateStart: this.dateStart,
        timeStart: this.timeStart,
        dateEnd: this.dateEnd,
        timeEnd: this.timeEnd
      }
    },
    editItem(item) {
      this.editedIndex = this.workdays.indexOf(item)
      this.editedItem = {
        id: item.id,
        user_id: item.user_id,
        dateStart: item.dateStart ? item.dateStart : this.dateStart,
        timeStart: item.timeStart ? item.timeStart : this.timeStart,
        dateEnd: item.dateEnd ? item.dateEnd : this.dateEnd,
        timeEnd: item.timeEnd ? item.timeEnd : this.timeEnd,
        edit: true
      }
      this.dialog = true
    },

    deleteItem(item) {
      confirm(this.$t('workday.delete')) &&
        this.$store.dispatch('deleteWorkday', { workday: item })
    },

    close() {
      this.dialog = false
      this.dateStartDialog = false
      this.timeStartDialog = false
      this.dateEndDialog = false
      this.timeEndDialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },

    save() {
      this.dialog = false
      const workday = {}
      workday.workStart = Date.parse(this.editedItem.dateStart + ' ' + this.editedItem.timeStart)
      if (this.editedItem.timeEnd) {
        workday.workEnd = Date.parse(this.editedItem.dateEnd + ' ' + this.editedItem.timeEnd)
      } else {
        workday.workEnd = null
      }
      if (this.editedItem.edit) {
        workday.id = this.editedItem.id
        workday.userId = this.editedItem.user_id
        this.$store.dispatch('updateWorkday', { workday })
      } else {
        workday.userId = this.$store.state.currentUser.id
        this.$store.dispatch('createWorkday', { workday })
      }
    }
  }
}
</script>
