<template>
  <v-container grid-list-lg>
    <v-row justify="center" align="center">
      <v-col col="12" md="8">
        <v-data-table
          :headers="headers"
          :items="users"
          sort-by="id"
          class="elevation-1"
        >
          <template v-slot:top>
            <v-toolbar flat color="white">
              <v-toolbar-title>{{ $t('management.user.manage') }}</v-toolbar-title>
              <v-divider class="mx-4" inset vertical />
              <div class="flex-grow-1" />
              <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
                <template v-slot:activator="{ on }">
                  <v-btn color="primary" dark v-on="on">{{ $t('management.user.create') }}</v-btn>
                </template>
                <v-card>
                  <v-toolbar dark color="primary">
                    <v-btn icon dark @click="dialog = false">
                      <v-icon>close</v-icon>
                    </v-btn>
                    <v-toolbar-title>
                      {{ $t('management.user.create') }}
                    </v-toolbar-title>
                    <div class="flex-grow-1"></div>
                    <v-toolbar-items>
                      <v-btn dark text @click="save">
                        {{ $t('save') }}
                      </v-btn>
                    </v-toolbar-items>
                  </v-toolbar>
                  <v-container>
                    <v-row>
                      <v-col cols="12">
                        <v-text-field v-model="editedItem.email" :label="$t('email')" required></v-text-field>
                      </v-col>
                      <v-col cols="12">
                        <v-text-field v-model="editedItem.password" type="password" :label="$t('password')" required></v-text-field>
                      </v-col>
                      <v-col cols="12">
                        <v-select
                          v-model="editedItem.role"
                          :items="roles"
                          :label="$t('role')"
                          item-text="name"
                          item-value="value"
                          required
                        ></v-select>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>
          <template v-slot:item.action="{ item }">
            <v-icon small class="mr-2" @click="openTimesByUser(item)">
              access_time
            </v-icon>
            <v-icon v-if="$store.state.currentUser.role > item.role || $store.state.currentUser.role === 3 ||$store.state.currentUser.id === item.id" small class="mr-2" @click="editItem(item)">
              edit
            </v-icon>
            <v-icon v-if="$store.state.currentUser.id !== item.id && $store.state.currentUser.role > item.role  || $store.state.currentUser.role === 3" small @click="deleteItem(item)">
              delete
            </v-icon>
          </template>
          <template v-slot:no-data>
            <h1 class="display-2">
              {{ $t('workday.no_data') }}
            </h1>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  middleware: ['auth', 'isManagerOrHigher'],

  data() {
    return {
      dialog: false,
      showPassword: false,
      headers: [
        {
          text: this.$t('email'),
          align: 'left',
          sortable: false,
          value: 'email'
        },
        { text: this.$t('role'), value: 'role' },
        // { text: 'Break in Minutes', value: 'breakInMinutes' }, TODO: Implement Break logic
        { text: 'Actions', value: 'action', sortable: false }
      ],
      roles: [
        {
          name: this.$t('roles.user'),
          value: 1
        },
        {
          name: this.$t('roles.management'),
          value: 2
        },
        {
          name: this.$t('roles.admin'),
          value: 3
        }
      ],
      editedIndex: -1,
      editedItem: {
        email: '',
        password: '',
        role: 1,
        edit: false
      },
      defaultItem: {
        email: '',
        password: '',
        role: 1,
        edit: false
      }
    }
  },

  computed: {
    users() {
      return this.$store.state.users
    },
    formTitle() {
      return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
    }
  },

  watch: {
    dialog(val) {
      val || this.close()
    }
  },

  async fetch({ store }) {
    await store.dispatch('getUsers')
  },

  methods: {
    openTimesByUser(item) {
      this.$store.dispatch('getWorkdays', item.id)
      this.$router.push('management/' + item.id)
    },
    editItem(item) {
      this.editedIndex = this.users.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.editedItem.edit = true
      this.dialog = true
    },

    deleteItem(item) {
      confirm(this.$t('manage.delete')) &&
      this.$store.dispatch('deleteUser', item)
    },

    close() {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },

    save() {
      this.dialog = false
      if (this.editedItem.edit) {
        this.$store.dispatch('updateUser', this.editedItem)
      } else {
        this.$store.dispatch('createUser', this.editedItem)
      }
      this.close()
    }
  }
}
</script>
