<template>
  <form>
    <v-text-field
      v-model="email"
      :error-messages="emailErrors"
      :label="$t('email')"
      required
      @input="$v.email.$touch()"
      @blur="$v.email.$touch()"
    />
    <v-select
      v-model="select"
      :items="roles"
      :error-messages="roleErrors"
      :label="$t('role')"
      item-text="name"
      item-value="value"
      required
      @change="$v.select.$touch()"
      @blur="$v.select.$touch()"
    />

    <v-text-field
      v-model="password"
      :error-messages="passwordErrors"
      :label="$t('password')"
      :append-icon="showPassword ? 'visibility' : 'visibility_off'"
      :type="showPassword ? 'text' : 'password'"
      required
      @input="$v.password.$touch()"
      @blur="$v.password.$touch()"
      @click:append="showPassword = !showPassword"
    />

    <v-text-field
      v-model="passwordConfirmation"
      :error-messages="passwordConfirmationErrors"
      :label="$t('passwordConfirmation')"
      :append-icon="showPassword ? 'visibility' : 'visibility_off'"
      :type="showPassword ? 'text' : 'password'"
      required
      @input="$v.passwordConfirmation.$touch()"
      @blur="$v.passwordConfirmation.$touch()"
      @click:append="showPassword = !showPassword"
    />

    <v-layout mt-3>
      <v-btn class="mr-4" @click="submit">
        {{ $t('submit') }}
      </v-btn>
      <v-btn @click="clear">
        {{ $t('clear') }}
      </v-btn>
    </v-layout>
  </form>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, email, minLength } from 'vuelidate/lib/validators'

export default {
  mixins: [validationMixin],

  validations: {
    email: { required, email },
    select: { required },
    password: { required, minLength: minLength(8) },
    passwordConfirmation: { required }
  },

  data() {
    return {
      email: '',
      select: null,
      password: '',
      passwordConfirmation: '',
      showPassword: false,
      roles: [
        {
          name: this.$t('roles.user'),
          value: 1
        },
        {
          name: this.$t('roles.management'),
          value: 2
        },
        {
          name: this.$t('roles.admin'),
          value: 3
        }
      ]
    }
  },

  computed: {
    roleErrors() {
      const errors = []
      if (!this.$v.select.$dirty) {
        return errors
      }
      !this.$v.select.required && errors.push(this.$t('error.role.required'))
      return errors
    },
    emailErrors() {
      const errors = []
      if (!this.$v.email.$dirty) {
        return errors
      }
      !this.$v.email.email && errors.push(this.$t('error.email.valid'))
      !this.$v.email.required && errors.push(this.$t('error.email.required'))
      return errors
    },

    passwordErrors() {
      const errors = []
      if (!this.$v.password.$dirty) {
        return errors
      }
      !this.$v.password.required &&
        errors.push(this.$t('error.password.required'))
      !this.$v.password.minLength &&
        errors.push(this.$t('error.password.minLength'))
      return errors
    },

    passwordConfirmationErrors() {
      const errors = []
      if (!this.$v.passwordConfirmation.$dirty) {
        return errors
      }
      !this.$v.passwordConfirmation.required &&
        errors.push(this.$t('error.password.required'))
      if (this.password !== this.passwordConfirmation) {
        errors.push(this.$t('error.password.notMatch'))
      }
      return errors
    }
  },

  methods: {
    submit() {
      this.$v.$touch()
    },
    clear() {
      this.$v.$reset()
      this.email = ''
      this.select = null
      this.password = ''
      this.passwordConfirmation = ''
      this.showPassword = false
    }
  }
}
</script>
