<template>
  <v-container grid-list-lg>
    <v-layout row justify-center align-center>
      <v-flex md8>
        <v-data-table
          :headers="headers"
          :items="users"
          sort-by="id"
          class="elevation-1"
        >
          <template v-slot:top>
            <v-toolbar flat color="white">
              <v-toolbar-title>My CRUD</v-toolbar-title>
              <v-divider class="mx-4" inset vertical />
              <div class="flex-grow-1" />
              <v-dialog v-model="dialog" max-width="500px">
                <template v-slot:activator="{ on }">
                  <v-btn
color="primary"
dark class="mb-2" v-on="on">
                    New Item
                  </v-btn>
                </template>
                <v-card>
                  <v-card-title>
                    <span class="headline">{{ formTitle }}</span>
                  </v-card-title>

                  <v-card-text>
                    <v-container grid-list-md>
                      <v-layout wrap>
                        <v-flex xs12>
                          <v-text-field
                            v-model="editedItem.email"
                            :error-messages="emailErrors"
                            :label="$t('email')"
                            required
                            @input="$v.email.$touch()"
                            @blur="$v.email.$touch()"
                          />
                        </v-flex>
                        <v-flex v-if="editedIndex === -1" xs12>
                          <v-text-field
                            v-model="editedItem.password"
                            :error-messages="passwordErrors"
                            :label="$t('password')"
                            :append-icon="
                              showPassword ? 'visibility' : 'visibility_off'
                            "
                            :type="showPassword ? 'text' : 'password'"
                            required
                            @input="$v.password.$touch()"
                            @blur="$v.password.$touch()"
                            @click:append="showPassword = !showPassword"
                          />
                        </v-flex>
                        <v-flex xs12>
                          <v-text-field
                            v-model="editedItem.breakInMinutes"
                            :label="$t('breakInMinutes')"
                          />
                        </v-flex>
                        <v-flex xs12>
                          <v-select
                            v-model="editedItem.role"
                            :items="roles"
                            :error-messages="roleErrors"
                            :label="$t('role')"
                            item-text="name"
                            item-value="value"
                            required
                            @change="$v.select.$touch()"
                            @blur="$v.select.$touch()"
                          />
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-card-text>

                  <v-card-actions>
                    <div class="flex-grow-1" />
                    <v-btn
color="blue darken-1"
text @click="close">
                      Cancel
                    </v-btn>
                    <v-btn color="blue darken-1" text @click="save">
                      Save
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>
          <template v-slot:item.action="{ item }">
            <v-icon small class="mr-2" @click="editItem(item)">
              edit
            </v-icon>
            <v-icon small @click="deleteItem(item)">
              delete
            </v-icon>
          </template>
          <template v-slot:no-data>
            <h1 class="display-2">
              {{ $t('workday.no_data') }}
            </h1>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, email, minLength } from 'vuelidate/lib/validators'
export default {
  middleware: 'auth',
  mixins: [validationMixin],

  validations: {
    email: { required, email },
    select: { required },
    password: { required, minLength: minLength(8) }
  },

  props: {
    propUsers: {
      type: Array,
      default() {
        return []
      }
    }
  },

  data() {
    return {
      dialog: false,
      showPassword: false,
      headers: [
        {
          text: 'Email',
          align: 'left',
          sortable: false,
          value: 'email'
        },
        { text: 'Role', value: 'role' },
        { text: 'Break in Minutes', value: 'breakInMinutes' },
        { text: 'Actions', value: 'action', sortable: false }
      ],
      roles: [
        {
          name: this.$t('roles.user'),
          value: 1
        },
        {
          name: this.$t('roles.management'),
          value: 2
        },
        {
          name: this.$t('roles.admin'),
          value: 3
        }
      ],
      editedIndex: -1,
      editedItem: {
        email: '',
        role: 1,
        breakInMinutes: 30
      },
      defaultItem: {
        email: '',
        role: 1,
        breakInMinutes: 30
      },
      users: null
    }
  },

  computed: {
    users() {
      return this.$store.state.users
    },
    formTitle() {
      return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
    },
    roleErrors() {
      const errors = []
      if (!this.$v.select.$dirty) {
        return errors
      }
      !this.$v.select.required && errors.push(this.$t('error.role.required'))
      return errors
    },
    emailErrors() {
      const errors = []
      if (!this.$v.email.$dirty) {
        return errors
      }
      !this.$v.email.email && errors.push(this.$t('error.email.valid'))
      !this.$v.email.required && errors.push(this.$t('error.email.required'))
      return errors
    },

    passwordErrors() {
      const errors = []
      if (!this.$v.password.$dirty) {
        return errors
      }
      !this.$v.password.required &&
        errors.push(this.$t('error.password.required'))
      !this.$v.password.minLength &&
        errors.push(this.$t('error.password.minLength'))
      return errors
    }
  },

  watch: {
    dialog (val) {
      val || this.close()
    }
  },

  created () {
    this.initialize()
  },

  methods: {
    initialize() {
      this.$store.dispatch('getUsers')
      this.users = this.propUsers
    },
    editItem(item) {
      this.editedIndex = this.users.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    deleteItem(item) {
      const index = this.users.indexOf(item)
      confirm('Are you sure you want to delete this item?') &&
        this.users.splice(index, 1)
    },

    close() {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.users[this.editedIndex], this.editedItem)
      } else {
        this.users.push(this.editedItem)
      }
      this.$v.$touch()
      if (!this.$v.$anyError) {
      }
      // this.close()
    }
  }
}
</script>
