<template>
  <v-card hover>
    <v-card-title primary-title>
      <v-icon>
        account_box
      </v-icon>
      <h3>
        {{ $t('account.account_information') }}
      </h3>
    </v-card-title>
    <v-card-text>
      <v-text-field v-model="email" :label="this.$t('email')" disabled />
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  data() {
    return {
      email: this.$store.state.currentUser.email
    }
  }
}
</script>
