<template>
  <v-container grid-list-md>
    <v-layout row justify-center align-center>
      <v-flex xs12 md6>
        <account-information-card />
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import AccountInformationCard from '~/components/account/accountInformationCard'
export default {
  components: { AccountInformationCard },
  middleware: 'auth'
}
</script>
