<template>
  <v-dialog
    v-model="dialog"
    fullscreen
    hide-overlay
    transition="dialog-bottom-transition"
  >
    <template v-slot:activator="{ on }">
      <v-btn color="primary" class="mb-2" style="margin:5px" v-on="on">
        {{ $t('workday.create') }}
      </v-btn>
    </template>
    <v-card>
      <v-toolbar dark color="primary">
        <v-btn icon dark @click="dialog = false">
          <v-icon>close</v-icon>
        </v-btn>
        <v-toolbar-title>{{ propFormTitle }}</v-toolbar-title>
        <div class="flex-grow-1" />
        <v-toolbar-items>
          <v-btn dark text @click="dialog = false">
            {{ $t('save') }}
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <v-container>
        <v-row justify="center" align="center">
          <v-col cols="12">
            <v-row justify="center" align="center">
              <v-col cols="12">
                <h1>{{ $t('workday.work_start') }}</h1>
              </v-col>
              <v-col cols="12" md="6">
                <v-dialog
                  ref="setDateStartDialog"
                  v-model="dateStartDialog"
                  :return-value.sync="dateStart"
                  persistent
                  full-width
                  width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="dateStart"
                      :label="$t('workday.date_start')"
                      prepend-icon="access_time"
                      readonly
                      v-on="on"
                    />
                  </template>
                  <v-date-picker
                    v-model="dateStart"
                    full-width
                    header-color="primary"
                    color="primary darken-2"
                  >
                    <div class="flex-grow-1" />
                    <v-btn
                      text
                      color="primary"
                      @click="dateStartDialog = false"
                    >
                      {{ $t('cancle') }}}
                    </v-btn>
                    <v-btn
                      text
                      color="primary"
                      @click="$refs.setDateStartDialog.save(dateStart)"
                    >
                      {{ $t('submit') }}
                    </v-btn>
                  </v-date-picker>
                </v-dialog>
              </v-col>

              <v-col cols="12" md="6">
                <v-dialog
                  ref="setTimeStartDialog"
                  v-model="timeStartDialog"
                  :return-value.sync="timeStart"
                  persistent
                  full-width
                  width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="timeStart"
                      :label="$t('workday.time_start')"
                      prepend-icon="access_time"
                      readonly
                      v-on="on"
                    />
                  </template>
                  <v-time-picker
                    v-model="timeStart"
                    format="24hr"
                    full-width
                    header-color="primary"
                    color="primary darken-2"
                  >
                    <div class="flex-grow-1" />
                    <v-btn
                      text
                      color="primary"
                      @click="timeStartDialog = false"
                    >
                      {{ $t('cancle') }}
                    </v-btn>
                    <v-btn
                      text
                      color="primary"
                      @click="$refs.setTimeStartDialog.save(timeStart)"
                    >
                      {{ $t('submit') }}
                    </v-btn>
                  </v-time-picker>
                </v-dialog>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="12">
            <v-row justify-center row wrap>
              <v-col cols="12">
                <h1>{{ $t('workday.work_end') }}</h1>
              </v-col>
              <v-col cols="12" md="6">
                <v-dialog
                  ref="setDateEndDialog"
                  v-model="dateEndDialog"
                  :return-value.sync="dateEnd"
                  persistent
                  full-width
                  width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="dateEnd"
                      :label="$t('workday.date_end')"
                      prepend-icon="access_time"
                      readonly
                      v-on="on"
                    />
                  </template>
                  <v-date-picker
                    v-model="dateEnd"
                    full-width
                    header-color="primary"
                    color="primary darken-2"
                  >
                    <div class="flex-grow-1" />
                    <v-btn text color="primary" @click="dateEndDialog = false">
                      {{ $t('cancle') }}}
                    </v-btn>
                    <v-btn
                      text
                      color="primary"
                      @click="$refs.setDateEndDialog.save(dateEnd)"
                    >
                      {{ $t('submit') }}
                    </v-btn>
                  </v-date-picker>
                </v-dialog>
              </v-col>

              <v-col cols="12" md="6">
                <v-dialog
                  ref="setTimeEndDialog"
                  v-model="timeEndDialog"
                  :return-value.sync="timeEnd"
                  persistent
                  full-width
                  width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="timeEnd"
                      :label="$t('workday.time_end')"
                      prepend-icon="access_time"
                      readonly
                      v-on="on"
                    />
                  </template>
                  <v-time-picker
                    v-model="timeEnd"
                    format="24hr"
                    full-width
                    header-color="primary"
                    color="primary darken-2"
                  >
                    <div class="flex-grow-1" />
                    <v-btn text color="primary" @click="timeEndDialog = false">
                      {{ $t('cancle') }}
                    </v-btn>
                    <v-btn
                      text
                      color="primary"
                      @click="$refs.setTimeEndDialog.save(timeEnd)"
                    >
                      {{ $t('submit') }}
                    </v-btn>
                  </v-time-picker>
                </v-dialog>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    propDialog: {
      type: Boolean,
      required: true
    },
    propFormTitle: {
      type: String,
      required: true
    },
    propDateStart: {
      type: String,
      required: true
    },
    propTimeStart: {
      type: String,
      required: true
    },
    propDateEnd: {
      type: String,
      required: true
    },
    propTimeEnd: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      dialog: false,
      dateStartDialog: false,
      timeStartDialog: false,
      dateEndDialog: false,
      timeEndDialog: false,
      dateStart: null,
      timeStart: null,
      dateEnd: null,
      timeEnd: null
    }
  },
  watch: {
    dialog() {
      this.$emit('update:prop-dialog', this.dialog)
    }
  },
  beforeMount() {
    this.initialize()
  },
  methods: {
    initialize() {
      const startDate = new Date()
      startDate.setHours(8)
      startDate.setMinutes(0)
      const startTime = new Date(
        startDate.getTime() - startDate.getTimezoneOffset() * 60000
      )
        .toISOString()
        .substr(11, 5)
      this.dateStart = this.propDateStart
        ? this.propDateStart
        : new Date().toISOString().substr(0, 10)
      this.timeStart = this.propTimeStart ? this.propTimeStart : startTime
      this.dateEnd = this.propDateEnd
        ? this.propDateEnd
        : new Date().toISOString().substr(0, 10)
      this.timeEnd = this.propTimeEnd ? this.propTimeEnd : ''
    }
  }
}
</script>
