<template>
  <v-select
    v-model="locale"
    :items="locales"
    item-text="name"
    item-value="code"
    menu-props="auto"
    label="Select"
    hide-details
    flat
    light
    dense
    prepend-inner-icon="translate"
    single-line
    solo
  />
</template>

<script>
export default {
  computed: {
    locales() {
      return this.$store.state.locales
    },
    locale: {
      get() {
        return this.$store.state.locale
      },
      set(localeCode) {
        document.cookie = `locale=${localeCode}`
        location.reload()
      }
    }
  }
}
</script>
