<template>
  <v-btn
    v-if="!live"
    depressed
    color="primary"
    large
    style="width: 50%; height: 150px"
    @click="startWorking"
  >
    Log me!
  </v-btn>

  <v-btn
    v-else
    depressed
    color="error"
    large
    style="width: 50%; height: 150px"
    @click="stopWorking"
  >
    stop it!
  </v-btn>
</template>

<script>
export default {
  computed: {
    live() {
      return this.$store.state.live
    }
  },
  methods: {
    startWorking() {
      const workday = {}
      workday.workStart = Date.parse(new Date())
      workday.userId = this.$store.state.currentUser.id
      this.$store.dispatch('createWorkday', { workday, live: true })
    },

    stopWorking() {
      const workday = {}
      workday.id = this.$store.state.liveWorkday.id
      workday.userId = this.$store.state.liveWorkday.user_id
      workday.workEnd = Date.parse(new Date())
      this.$store.commit('setLive', false)
      this.$store.commit('setLiveWorkday', null)
      this.$store.dispatch('updateWorkday', { workday })
    }
  }
}
</script>
