<template>
  <v-app light>
    <v-navigation-drawer
      v-if="auth"
      v-model="navDrawer"
      app
      absolute
      hide-overlay
      clipped
      dark
    >
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title class="title">
            {{ currentUser.email }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>
      <v-list>
        <v-list-item
          v-for="navItem in navigationItems"
          :key="navItem.title"
          nuxt
          :to="navItem.to"
        >
          <v-list-item-icon>
            <v-icon>{{ navItem.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ navItem.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item v-if="currentUser.role >= 2" nuxt to="/management">
          <v-list-item-icon>
            <v-icon>contacts</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            {{ this.$t('menu.userManagement') }}
          </v-list-item-content>
        </v-list-item>

        <v-list-item v-if="!auth" nuxt to="/signin">
          <v-list-item-icon>
            <v-icon>mdi-login</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            {{ $t('sign.in') }}
          </v-list-item-content>
        </v-list-item>
        <v-list-item v-else @click="auth = !auth">
          <v-list-item-icon>
            <v-icon>mdi-logout</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            {{ $t('sign.out') }}
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <template v-slot:append>
        <div class="pa-2">
          <languageSelector />
        </div>
      </template>
    </v-navigation-drawer>

    <v-app-bar app clipped-left color="primary">
      <v-app-bar-nav-icon v-if="auth" @click.stop="navDrawer = !navDrawer" />
      <v-spacer />
      <v-toolbar-title class="display-1">
        {{ $t('application.title') }}
      </v-toolbar-title>
      <v-spacer />
    </v-app-bar>

    <v-content>
      <v-container fluid fill-height>
        <nuxt />
      </v-container>
    </v-content>

    <v-footer app absolute class="font-weight-medium">
      <v-layout row justify-center>
        <v-flex md2 class="text-center">
          {{ new Date().getFullYear() }} —
          <strong>{{ $t('application.title') }}</strong>
        </v-flex>
      </v-layout>
    </v-footer>
  </v-app>
</template>

<script>
import languageSelector from '~/components/languageSelector'
export default {
  components: {
    languageSelector
  },
  data() {
    return {
      navDrawer: null,
      navigationItems: [
        { title: this.$t('menu.logBoard'), icon: 'dashboard', to: '/' },
        {
          title: this.$t('menu.loggedWork'),
          icon: 'mdi-account-clock',
          to: '/log'
        },
        { title: this.$t('menu.account'), icon: 'account_box', to: '/account' }
      ]
    }
  },
  computed: {
    auth: {
      get() {
        return this.$store.state.auth
      },
      set(auth) {
        if (!auth) {
          this.$store
            .dispatch('signOut', { auth })
            .then(this.$router.push('/signIn'))
        }
      }
    },
    currentUser() {
      return this.$store.state.currentUser
    }
  }
}
</script>
