<template>
  <v-container>
    <v-layout justify-center row>
      <welcomebanner />
    </v-layout>
  </v-container>
</template>

<script>
import welcomebanner from '~/components/welcomebanner'
export default {
  middleware: 'auth',
  components: { welcomebanner }
}
</script>
