<template>
  <v-container grid-list-lg>
    <v-layout row justify-center align-center>
      <v-flex md8>
        <signUpForm />
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import signUpForm from '~/components/signUp_form'
export default {
  middleware: 'auth',
  components: {
    signUpForm
  }
}
</script>
