<template>
  <v-container grid-list-lg>
    <v-layout row justify-center align-center>
      <v-flex md8>
        <form>
          <v-text-field
            v-model="email"
            :error-messages="emailErrors"
            :label="$t('email')"
            required
            @input="$v.email.$touch()"
            @blur="$v.email.$touch()"
          />

          <v-text-field
            v-model="password"
            :error-messages="passwordErrors"
            :label="this.$t('password')"
            :append-icon="showPassword ? 'visibility' : 'visibility_off'"
            :type="showPassword ? 'text' : 'password'"
            required
            @input="$v.password.$touch()"
            @blur="$v.password.$touch()"
            @click:append="showPassword = !showPassword"
          />

          <v-layout mt-3>
            <v-btn class="mr-4" @click="submit">
              {{ $t('submit') }}
            </v-btn>
            <v-btn @click="clear">
              {{ $t('clear') }}
            </v-btn>
          </v-layout>
        </form>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, email, minLength } from 'vuelidate/lib/validators'
import Cookies from 'universal-cookie'

export default {
  middleware: 'alreadyAuth',
  mixins: [validationMixin],

  validations: {
    email: { required, email },
    password: { required, minLength: minLength(8) }
  },

  data: () => ({
    email: '',
    password: '',
    showPassword: false
  }),

  computed: {
    emailErrors() {
      const errors = []
      if (!this.$v.email.$dirty) {
        return errors
      }
      !this.$v.email.email && errors.push(this.$t('error.email.valid'))
      !this.$v.email.required && errors.push(this.$t('error.email.required'))
      return errors
    },

    passwordErrors() {
      const errors = []
      if (!this.$v.password.$dirty) {
        return errors
      }
      !this.$v.password.required &&
        errors.push(this.$t('error.password.required'))
      !this.$v.password.minLength &&
        errors.push(this.$t('error.password.minLength'))
      return errors
    }
  },

  methods: {
    async submit() {
      try {
        this.$v.$touch()
        if (!this.$v.$anyError) {
          const result = await this.$axios.$post('auth/sign_in', {
            email: this.email,
            password: this.password
          })
          if (result.status === 200) {
            const tokenObject = result.tokenObject
            const cookies = new Cookies()
            cookies.set('Authorization', tokenObject.token, {
              path: '/',
              maxAge: 3600
            })
            this.$axios.setToken(tokenObject.token, tokenObject.type)
            await this.$store.dispatch('signIn', {
              currentUser: result.currentUser
            })
            this.$router.push('/')
          } else if (result.status === 404) {
            // TODO: notification
          }
        }
      } catch (e) {
        // TODO: notification
      }
    },
    clear() {
      this.$v.$reset()
      this.email = ''
      this.password = ''
      this.showPassword = false
    }
  }
}
</script>
